<!-- Ma liste de dragons -->
<h2>My Dragons : </h2>
<!-- je génère une liste dans laquelle jinitialise une boucle pour faire apparaitre les élément de mon tableau de dragons -->
<ul class="heroes">
  <li *ngFor="let item of dragons">
    <button [class.selected]="dragon === selectedDragon" type="button" (click)="onSelect(item)">
      <!-- sépare les bouton en deux pour les styliser de manière différent dans le css -->
      <span class="badge">{{item.id}}</span>
      <span class="name">{{item.name}}</span>
    </button>
  </li>
</ul>


<app-dragon-detail [dragon]="selectedDragon"></app-dragon-detail>